node_modules
.next
.git
.gitignore
.env
.env.*
*.log
.turbo
.docker
Dockerfile
README.md
.sisyphus
.notes
coverage
.DS_Store
*.pem
out
build
.vercel
test-results
playwright-report
blob-report
playwright
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
